*{
margin: 0;
padding: 0;
}

.header {
    background-color: #950000;
    padding: 13px 0;
    color: #ffffff;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo a:not(.logo-text) {
    text-decoration: none;
}


.logo-image {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}


.logo-text {
    color: white;
    margin-left: 30px;
    font-size: 40px;
    font-weight: bold;
}

.suggestion-button {
    margin-left: 8px; /* Espaço entre o botão e a área de pesquisa */
}

.suggestion-link {
    background-color: #950000;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 30px;
    transition: background-color 0.4s ease, border-radius 0.4s ease;
}

.suggestion-link:hover {
    background-color: #770000;
    border-radius:90px;
}

.footer {
    background-color: #950000;
    color: #ffffff;
    text-align: center;
    padding: 13px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin: 0;
}




.Card-endereco{
  width: 400px; /* Ajuste a largura conforme necessário */
  padding: 18px;
  border: 1px solid #ccc;
  border-radius: 8px;

  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-text:center;
   margin: 0 auto; /* Centraliza o card na tela */
   margin-top: 20px;
}

.Card-endereco h1{
font-size:20px;
}

.Card-endereco input, #estado{
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

}


.Card-endereco button{
    background-color: #950000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    margin-top:20px;
}



