*{
margin: 0;
padding: 0;
}

body{
    background-color: #ffffff;
    overflow: hidden;
}

.suggestion-button {
    margin-left: 8px; /* Espaço entre o botão e a área de pesquisa */
}

.suggestion-link {
    background-color: #950000;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 30px;
    transition: background-color 0.4s ease, border-radius 0.4s ease;
}

.suggestion-link:hover {
    background-color: #770000;
    border-radius:90px;
}
.continuarComprando-button{
    background-color: #950000;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.continuarComprando-button:hover {
    background-color: #770000;
}
