    @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');* {
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
     overflow: hidden;
}

.suggestion-link:hover {
    background-color: #770000;
}

.login-button,
.register-button {
    background-color: #ffffff;
    color: #ff0000;
    border: none;
    font-size: 18px;
    border-radius: 100px;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 20px;
}

.content {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 84vh;
}

    .texto-catalogo {
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #950000;
        font-size: 25px;
        font-family: 'Cinzel', serif;
    }

.catalogo {
position: relative;
cursor: pointer;
transition: background-color 0.3s ease;
}

.catalogo:hover {
background-color: #dcdcdc;
}



