* {
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
     overflow: hidden;
}

.suggestion-link:hover {
    background-color: #770000;
}

.login-button,
.register-button {
    background-color: #ffffff;
    color: #ff0000;
    border: none;
    font-size: 18px;
    border-radius: 100px;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 20px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.image-container {
    text-align: center;
}

.image-center{
       height: 650px;
       width: 650px;
       margin: 0 auto;
}

button-container {
    text-align: center;
    margin-top: 20px;
}

.product-button {
    background-color: #950000;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 90px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product-button:hover {
    background-color: #ff0000;
    text-decoration: none;
}


