@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    overflow-y: scroll;
}

* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #950000;
    padding: 13px 0;
    color: #ffffff;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo a:not(.logo-text) {
    text-decoration: none;
}

.logo-image {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.logo-text {
    color: white;
    margin-left: 30px;
    font-size: 40px;
    font-weight: bold;
}

.suggestion-button {
    margin-left: 8px;
}

.suggestion-link {
    background-color: #950000;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 30px;
    transition: background-color 0.4s ease, border-radius 0.4s ease;
}

.suggestion-link:hover {
    background-color: #770000;
    border-radius: 90px;
}

.content {
    padding: 20px 0;
}

.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px auto;
}

.card {
    width: 300px;
    height: 400px; /* Ajuste a altura conforme necessário */
    border: 1px solid #ccc;
    margin: 10px;
    display: inline-block;
    text-align: center;
}

.card img {
    width: 100%;
    height: 200px; /* Ajuste a altura conforme necessário */
    object-fit: cover;
}

.card-info {
    padding: 10px;
    background-color: #f6f2f2;
}

.card-info h3 {
    margin: 0;
    font-size: 18px;
}

.card-info p {
    margin: 10px 0;
    font-size: 14px;
    color: #000000;
}

.footer {
    background-color: #950000;
    color: #ffffff;
    text-align: center;
    padding: 13px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.card img {
    width: 100%;
    height: 200px; /* Ajuste a altura conforme necessário */
    object-fit: contain;
}

.footer p {
    margin: 0;
}
